{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
      Dashboard 
	</h1>
</section>

<section class="content">
  <!-- Small boxes (Stat box) -->
  <div class="row">
    <div onMouseOver="this.style.cursor='pointer'" class="col-lg-3 col-xs-6" data-toggle="modal" data-target="#myModal">
      <!-- small box -->
      <div id='modeClass' class="small-box bg-yellow">
        <div class="inner">
          <h3 id='modeText'>Meh</h3>
          <p>Energy Mode</p>
      </div>
      <div class="icon">
          <i id='modeIcon' class="ion-social-freebsd-devil"></i>
      </div>
  </div>
</div>
<!-- ./col -->
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-aqua">
    <div class="inner">
      <h3>72<sup style="font-size: 20px">%</sup></h3>
      <p>Battery</p>
  </div>
  <div class="icon">
      <i class="ion-battery-half"></i>
  </div>
</div>
</div>
<!-- ./col -->
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-blue">
    <div class="inner">
      <h3>14H 23M</h3>
      <p>Estimated Time Remaining</p>
  </div>
  <div class="icon">
      <i class="ion-ios-timer"></i>
  </div>
</div>
</div>
<!-- ./col -->
<!-- ./col -->
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div class="small-box bg-green">
    <div class="inner" id='outerdiv'>
      <b>Fun fact</b>
	  <p id='funfact'>
	  The world's largest coal producer is set to go solar in the next few decades. Sign of the times that we all need to be more mindful going ahead!
	  </p>
  </div>
</div>
</div>
<!-- ./col -->
</div>
<!-- /.row -->
<!-- Main row -->
<div class="row">
    <!-- Left col -->
    <section class="col-lg-7 connectedSortable">
      <!-- Custom tabs (Charts with tabs)-->
      <div class="nav-tabs-custom">
        <!-- Tabs within a box -->
        <ul class="nav nav-tabs pull-right">
          <li class="active"><a href="#power-chart" data-toggle="tab">Usage</a></li>
          <li class="pull-left header"><i class="ion-android-bulb"></i> Power Consumption</li>
		</ul>
      <div class="tab-content no-padding">
          <!-- Morris chart - Sales -->
          <div class="chart tab-pane active" id="power-chart" style="position: relative; height: 300px;"></div>
      </div>
	</div>
  <!-- /.nav-tabs-custom -->
<!-- /.box -->
<!-- Weather -->
<div class="box box-solid bg-aqua-gradient">
    <div class="box-header">
      <i class="fa fa-umbrella"></i>
    <!-- /. tools -->
</div>
<!-- /.box-header -->
<div class="box-body no-padding">
  <!--The calendar -->
  <iframe id="forecast_embed" frameborder="0" height="245" width="100%" src="//forecast.io/embed/#lat=43.059032&lon=-89.401159&name=Madison"></iframe>
</div>
</div>

</section>
<!-- /.Left col -->
<!-- right col (We are only adding the ID to make the widgets sortable)-->
<section class="col-lg-5 connectedSortable">

<!-- TO DO List -->
<div class="box box-primary">
    <div class="box-header">
      <i class="ion-android-funnel"></i>

      <h3 class="box-title"> Device Priority</h3>
</div>
<!-- /.box-header -->
<div class="box-body">
  <ul class="todo-list">
    <li>
      <!-- drag handle -->
      <span class="handle">
        <i class="fa fa-ellipsis-v"></i>
        <i class="fa fa-ellipsis-v"></i>
    </span>
    <!-- checkbox -->
    <!-- todo text -->
    <span class="text">Hall (TV, Chandelier)</span>
    <!-- Emphasis label -->
    <!-- General tools such as edit or delete-->
    <div class="tools">
        <i class="fa fa-edit"></i>
        <i class="fa fa-trash-o"></i>
    </div>
</li>
<li>
  <span class="handle">
    <i class="fa fa-ellipsis-v"></i>
    <i class="fa fa-ellipsis-v"></i>
</span>
<span class="text">Kitchen (Microwave, Fridge)</span>
<div class="tools">
    <i class="fa fa-edit"></i>
    <i class="fa fa-trash-o"></i>
</div>
</li>
<li>
  <span class="handle">
    <i class="fa fa-ellipsis-v"></i>
    <i class="fa fa-ellipsis-v"></i>
</span>
<span class="text">Porch (Lights)</span>
<div class="tools">
    <i class="fa fa-edit"></i>
    <i class="fa fa-trash-o"></i>
</div>
</li>
<li>
  <span class="handle">
    <i class="fa fa-ellipsis-v"></i>
    <i class="fa fa-ellipsis-v"></i>
</span>
<span class="text">Bedroom (Lights, AC)</span>
<div class="tools">
    <i class="fa fa-edit"></i>
    <i class="fa fa-trash-o"></i>
</div>
</li>
<li>
  <span class="handle">
    <i class="fa fa-ellipsis-v"></i>
    <i class="fa fa-ellipsis-v"></i>
</span>
<span class="text">Study (Printer, Computer)</span>
<div class="tools">
    <i class="fa fa-edit"></i>
    <i class="fa fa-trash-o"></i>
</div>
</li>
<li>
  <span class="handle">
    <i class="fa fa-ellipsis-v"></i>
    <i class="fa fa-ellipsis-v"></i>
</span>
<span class="text">Garage (Tesla)</span>
<div class="tools">
    <i class="fa fa-edit"></i>
    <i class="fa fa-trash-o"></i>
</div>
</li>
<li>
  <span class="handle">
    <i class="fa fa-ellipsis-v"></i>
    <i class="fa fa-ellipsis-v"></i>
</span>
<span class="text">Laundry</span>
<div class="tools">
    <i class="fa fa-edit"></i>
    <i class="fa fa-trash-o"></i>
</div>
</li>
<li>
  <span class="handle">
    <i class="fa fa-ellipsis-v"></i>
    <i class="fa fa-ellipsis-v"></i>
</span>
<span class="text">Bathroom</span>
<div class="tools">
    <i class="fa fa-edit"></i>
    <i class="fa fa-trash-o"></i>
</div>
</li>
</ul>
</div>
<!-- /.box-body -->
</div>

<div class="box box-solid bg-green-gradient">
    <div class="box-header">
	  <h5>Status</h5>
	</div>
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div id = "node0" class="small-box bg-green">
	<div class="inner" onMouseOver="this.style.cursor='pointer'" onclick="element=document.getElementById('node0');if(element.className=='small-box bg-green'){element.className='small-box bg-red'}else if(element.classname='small-box bg-red'){element.className='small-box bg-green'}$.ajax({
                    'url' : '/toggleNode?node=0',
                    'type' : 'GET',
					'success' : function(data) {
                       if (data == 'success') {
                            console.log('Success')
                       }
                    }
                });">    
      <h4>Hall</h4>
	  <p id="pnode0">0W</p>
	    <div class="icon-small">
			<i class="ion-android-desktop"></i>
		</div>
	</div>
</div>
</div>
<div  class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div id="node1" class="small-box bg-green">
	<div class="inner" onMouseOver="this.style.cursor='pointer'" onclick="element=document.getElementById('node1');if(element.className=='small-box bg-green'){element.className='small-box bg-red'}else if(element.classname='small-box bg-red'){element.className='small-box bg-green'}$.ajax({
                    'url' : '/toggleNode?node=1',
                    'type' : 'GET',
					'success' : function(data) {
                       if (data == 'success') {
                            console.log('Success')
                       }
                    }
                });">    
      <h4>Kitchen</h4>
	  <p id="pnode1">0W</p>
	    <div class="icon-small">
			<i class="ion-coffee"></i>
		</div>
  </div>
</div>
</div>
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div id="node2" class="small-box bg-green">
	<div class="inner" onMouseOver="this.style.cursor='pointer'" onclick="element=document.getElementById('node2');if(element.className=='small-box bg-green'){element.className='small-box bg-red'}else if(element.classname='small-box bg-red'){element.className='small-box bg-green'}$.ajax({
                    'url' : '/toggleNode?node=2',
                    'type' : 'GET',
					'success' : function(data) {
                       if (data == 'success') {
                            console.log('Success')
                       }
                    }
                });"> 
      <h4>Porch</h4>
	  <p id="pnode2">0W</p>
	    <div class="icon-small">
			<i class="ion-android-home"></i>
		</div>
  </div>
</div>
</div>
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div id='node3' class="small-box bg-green">
	<div class="inner" onMouseOver="this.style.cursor='pointer'" onclick="element=document.getElementById('node3');if(element.className=='small-box bg-green'){element.className='small-box bg-red'}else if(element.classname='small-box bg-red'){element.className='small-box bg-green'}$.ajax({
                    'url' : '/toggleNode?node=3',
                    'type' : 'GET',
					'success' : function(data) {
                       if (data == 'success') {
                            console.log('Success')
                       }
                    }
                });"> 
      <h4>Bedroom</h4>
	  <p id="pnode3">0W</p>
	    <div class="icon-small">
			<i class="ion-ios-cloudy-night"></i>
		</div>
  </div>
</div>
</div>
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div id="node4" class="small-box bg-green">
	<div class="inner" onMouseOver="this.style.cursor='pointer'" onclick="element=document.getElementById('node4');if(element.className=='small-box bg-green'){element.className='small-box bg-red'}else if(element.classname='small-box bg-red'){element.className='small-box bg-green'}$.ajax({
                    'url' : '/toggleNode?node=4',
                    'type' : 'GET',
					'success' : function(data) {
                       if (data == 'success') {
                            console.log('Success')
                       }
                    }
                });">    
      <h4>Study</h4>
	  <p id="pnode4">0W</p>
	    <div class="icon-small">
			<i class="ion-android-print"></i>
		</div>
  </div>
</div>
</div>
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div id='node5' class="small-box bg-green">
	<div class="inner" onMouseOver="this.style.cursor='pointer'" onclick="element=document.getElementById('node5');if(element.className=='small-box bg-green'){element.className='small-box bg-red'}else if(element.classname='small-box bg-red'){element.className='small-box bg-green'}$.ajax({
                    'url' : '/toggleNode?node=5',
                    'type' : 'GET',
					'success' : function(data) {
                       if (data == 'success') {
                            console.log('Success')
                       }
                    }
                });">    
      <h4>Garage</h4>
	  <p id="pnode5">0W</p>
	    <div class="icon-small">
			<i class="ion-model-s"></i>
		</div>
  </div>
</div>
</div>
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div  id='node6' class="small-box bg-green">
	<div class="inner" onMouseOver="this.style.cursor='pointer'" onclick="element=document.getElementById('node6');if(element.className=='small-box bg-green'){element.className='small-box bg-red'}else if(element.classname='small-box bg-red'){element.className='small-box bg-green'}$.ajax({
                    'url' : '/toggleNode?node=6',
                    'type' : 'GET',
					'success' : function(data) {
                       if (data == 'success') {
                            console.log('Success')
                       }
                    }
                });">   
      <h4>Bathroom</h4>
	  <p id="pnode6">0W</p>
	    <div class="icon-small">
			<i class="ion-funnel"></i>
		</div>
  </div>
</div>
</div>
<div class="col-lg-3 col-xs-6">
  <!-- small box -->
  <div id='node7' class="small-box bg-green">
	<div class="inner" onMouseOver="this.style.cursor='pointer'" onclick="element=document.getElementById('node7');if(element.className=='small-box bg-green'){element.className='small-box bg-red'}else if(element.classname='small-box bg-red'){element.className='small-box bg-green'}$.ajax({
                    'url' : '/toggleNode?node=7',
                    'type' : 'GET',
					'success' : function(data) {
                       if (data == 'success') {
                            console.log('Success');
                       }
                    }
                });">    
      <h4>Laundry</h4>
	  <p id="pnode7">0W</p>
	    <div class="icon-small">
			<i class="ion-tshirt"></i>
		</div>
  </div>
</div>
</div>
</div>
<!-- /.box -->

</section>
<!-- right col -->
</div>
<!-- /.row (main row) -->

</section>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <center><h4 class="modal-title"><b>Energy Mode</b></h4></center>
      </div>
      <div class="modal-body">
	  <center>
		<div class="col-lg-12 col-xs-6" onMouseOver="this.style.cursor='pointer'" onclick="changeMode(1)" data-dismiss="modal">
			  <!-- small box -->
			  <div class="small-box bg-green">
				<div class="inner">
				  <h3>Super Saver</h3>
				  <p>Go green!</p>
			  </div>
			  <div class="icon">
				  <i class="ion-leaf"></i>
			  </div>
			</div>
		</div>
		<div class="col-lg-12 col-xs-6" onMouseOver="this.style.cursor='pointer'" onclick="changeMode(2)" data-dismiss="modal">
			  <!-- small box -->
			  <div class="small-box bg-yellow">
				<div class="inner">
				  <h3>Meh</h3>
				  <p>Whatever, you decide.</p>
			  </div>
			  <div class="icon">
				  <i class="ion-social-freebsd-devil"></i>
			  </div>
			</div>
		</div>
		<div class="col-lg-12 col-xs-6" onMouseOver="this.style.cursor='pointer'" onclick="changeMode(3)" data-dismiss="modal">
			  <!-- small box -->
			  <div class="small-box bg-red">
				<div class="inner">
				  <h3>I'm a Coal Miner</h3>
				  <p>Planet? What planet?</p>
			  </div>
			  <div class="icon">
				  <i class="ion-fireball"></i>
			  </div>
			</div>
		</div>	
		</center>		
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script>
function changeMode(mode)
{
	newMode = ""
	if(mode==1)
	{
		$('#modeClass').attr("class","small-box bg-green");
		$('#modeText').html("Super Saver");
		$('#modeIcon').attr("class","ion-leaf");
		newMode = 'supersaver';
	}
	else if(mode==2)
	{
		$('#modeClass').attr("class","small-box bg-yellow");
		$('#modeText').html("Meh");
		$('#modeIcon').attr("class","ion-social-freebsd-devil");
		newMode = 'meh';
	}
	else if(mode==3)
	{
		$('#modeClass').attr("class","small-box bg-red");
		$('#modeText').html("I'm a Coal Miner");
		$('#modeIcon').attr("class","ion-fireball");
		newMode = 'coalminer';
	}
	
	$.ajax({
		type: "GET",
		url: '/changeEnergyMode?mode='+newMode,
		'success' : function(data) {
		   if (data == 'success') {
				console.log('Success');
		   }
		}
	});
	
}

  var power = new Morris.Area({
    element: 'power-chart',
    resize: true,
    data: [
      {y: '2011 Q1', item1: 2666, item2: 2666},
      {y: '2011 Q2', item1: 2778, item2: 2294},
      {y: '2011 Q3', item1: 4912, item2: 1969},
      {y: '2011 Q4', item1: 3767, item2: 3597},
      {y: '2012 Q1', item1: 6810, item2: 1914},
      {y: '2012 Q2', item1: 5670, item2: 4293},
      {y: '2012 Q3', item1: 4820, item2: 3795},
      {y: '2012 Q4', item1: 15073, item2: 5967},
      {y: '2013 Q1', item1: 10687, item2: 4460},
      {y: '2013 Q2', item1: 8432, item2: 5713}
    ],
    xkey: 'y',
    ykeys: ['item1', 'item2'],
    labels: ['Energy Generated', 'Energy Consumed'],
    lineColors: ['green', 'red'],
    hideHover: 'auto'
  });


function redrawChart()
{
	$.ajax({
		type: "GET",
		url: '/getCurrentEnergyUsedAndProduced',
		'success' : function(data) {
		   if(data.length > 0)
		   {
				jsonObject = JSON.parse(data);
				console.log(jsonObject);
				power.data.push({y: '2014 Q1', item1: jsonObject.energyProduced, item2: jsonObject.energyConsumed});
				power.redraw();
		   }
		}
	});
	
}



function getNodePowerValues()
{
	$.ajax({
		type: "GET",
		url: '/getCurrentNodePowerValues',
		'success' : function(data) {
			var values = data.split(',');
			console.log(values);
			for (var i = 0; i < values.length; i++) {
				var myValues = values[i].split(":");
				var key = 'node' + values.indexOf(values[i]).toString();
				var pkey = 'p'+key;
				$('#'+pkey).html(myValues[1] + "W");
				var mydiv = document.getElementById(key);
				if(myValues[0] == '0')
				{
					mydiv.className = "small-box bg-green";
				}
				else
				{
					mydiv.className = "small-box bg-red";
				}
			}
			
		}
	});
}

function updateFunFacts()
{
	var items = Array(
	"Did you know The Beach Boys wanted to save our oceans from pollution? Listen to what they had to say in 'Don't Go Near The Water'",
	"A big shoutout to the village of Pasanga for going solar and empowering the women in their community!",
	"Climate change is not as new a fact as we think it to be - it has been with us forever.",
	"Digitization, decentralization, and disruption - IoT is changing energy trends of the present and the future.",
	"What can the arctic ice sheet tell us about the past, present and future of the climate of our world? Apparently, a lot!"
	)
	var item = items[Math.floor(Math.random()*items.length)];
	$('#funfact').animate({'opacity': 0}, 400, function(){
        $(this).html(item).animate({'opacity': 1}, 400);    
    });
}

// Set up perodic calls
setInterval(redrawChart, 5000); // Every 5 seconds, fire a request
setInterval(updateFunFacts, 4000); // Every 4 seconds, fire a request
setInterval(getNodePowerValues, 4000); // Every 4 seconds, fire a request
</script>

  {% endblock body %}
